
<div class="card-container">    <%= link_to "Back to Catches", catches_path, class: "btn btn-custom " %>
</div>
<%= render partial: "catch_detail_card", locals: { catch: @catch, show_link: false } %>

<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user.email %></strong>:
    <%= comment.content %>
  </div>
<% end %>


<%= render "comment_form" %>
